<configuration debug="on">

    <appender name="cwl1" class="io.github.dibog.AwsLogAppender">

        <awsConfig>
            <region>eu-central-1</region>
            <profileName>foo</profileName>



            <httpClient>

                <localAddress>1.2.3.4.5</localAddress>
                <proxyConfig>
                    <endpoint>http://proxy:1234</endpoint>
                    <nonProxies>localhost,127.0.0.1</nonProxies>
                </proxyConfig>
            </httpClient>
            <!--<credentials>-->
                <!--<accessKeyId></accessKeyId>-->
                <!--<secretAccessKey></secretAccessKey>-->
            <!--</credentials>-->

            <!--<region>eu-central-1</region>-->

        </awsConfig>


        <!--<createLogGroup>true</createLogGroup>-->
        <queueLength>100</queueLength>
        <groupName>log-test</groupName>
        <streamName>log-complex</streamName>
        <dateFormat>yyyyMMdd_HHmm</dateFormat>

    </appender>

    <appender name="cwl2" class="io.github.dibog.AwsLogAppender">

        <awsConfig>
            <profileName>foo</profileName>

            <httpClient>
                <proxyConfig>
                    <endpoint>http://proxy:1234</endpoint>
                    <nonProxies>localhost,127.0.0.1</nonProxies>
                </proxyConfig>
                <localAddress>123</localAddress>
            </httpClient>


            <!--<credentials>-->
            <!--<accessKeyId></accessKeyId>-->
            <!--<secretAccessKey></secretAccessKey>-->
            <!--</credentials>-->

            <!--<region>eu-central-1</region>-->

        </awsConfig>


        <!--<createLogGroup>true</createLogGroup>-->
        <queueLength>100</queueLength>
        <groupName>log-test</groupName>
        <streamName>log-simple</streamName>
        <dateFormat>yyyyMMdd_HHmm</dateFormat>

        <layout>
            <pattern>[%X{a} %X{b}] %-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="cwl1"/>
        <appender-ref ref="cwl2"/>
    </root>
</configuration>
