<configuration debug="on">

    <appender name="cwl1" class="io.github.dibog.AwsLogAppender">

        <awsConfig>
            <profileName>mosaic</profileName>
            <!--<credentials>-->
                <!--<accessKeyId></accessKeyId>-->
                <!--<secretAccessKey></secretAccessKey>-->
            <!--</credentials>-->

            <!--<region>eu-central-1</region>-->

            <!--<clientConfig class="com.amazonaws.ClientConfiguration">-->
                <!--<proxyHost>foo</proxyHost>-->
                <!--<proxyPort>123</proxyPort>-->
            <!--</clientConfig>-->
        </awsConfig>


        <!--<createLogGroup>true</createLogGroup>-->
        <queueLength>100</queueLength>
        <groupName>foo</groupName>
        <streamName>log-complex</streamName>
        <dateFormat>yyyyMMdd_HHmm</dateFormat>

    </appender>

    <appender name="cwl2" class="io.github.dibog.AwsLogAppender">

        <awsConfig>
            <profileName>mosaic</profileName>
            <!--<credentials>-->
            <!--<accessKeyId></accessKeyId>-->
            <!--<secretAccessKey></secretAccessKey>-->
            <!--</credentials>-->

            <!--<region>eu-central-1</region>-->

            <!--<clientConfig class="com.amazonaws.ClientConfiguration">-->
            <!--<proxyHost>foo</proxyHost>-->
            <!--<proxyPort>123</proxyPort>-->
            <!--</clientConfig>-->
        </awsConfig>


        <!--<createLogGroup>true</createLogGroup>-->
        <queueLength>100</queueLength>
        <groupName>foo</groupName>
        <streamName>log-simple</streamName>
        <dateFormat>yyyyMMdd_HHmm</dateFormat>

        <layout>
            <pattern>[%X{a} %X{b}] %-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="cwl1"/>
        <appender-ref ref="cwl2"/>
    </root>
</configuration>